
/** Print **/
.kk-print-card-row img,
.kk-print-card-row object {
	width: 527px;
	border: 2px dashed #333;
}

.kc-coupon-token input {
	width: 50px;
	min-width: initial;
	text-align: center;
}

.kc-coupon-token input,
.kc-coupon-token .dash {
	margin-right: 8px;
}
